In [1]:
from superpackg.sp import *

In [2]:
print_hello()

helloooooo

In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame({'pole1':[1,2,3], 'pole2':[11,22,33]})

In [12]:
pole2 = df.pole2.tolist()

In [13]:
pole2

[11, 22, 33]

In [14]:
df.pole3 = [11,22,33]

/var/folders/5h/hvzpymp94m30tv1byr90pwj80000gn/T/ipykernel_10162/3219755866.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.pole3 = [11,22,33]

In [15]:
df['pole3'] = [11,22,33]

In [18]:
type(df.pole3)

list

In [19]:
type(df['pole3'])

pandas.core.series.Series

In [22]:
type(df[['pole1','pole3']])

pandas.core.frame.DataFrame

In [27]:
df.groupby('pole1')[['pole2','pole3']].agg({'count','mean'})

      pole2       pole3
      count  mean count  mean
pole1
1         1  11.0     1  11.0
2         1  22.0     1  22.0
3         1  33.0     1  33.0

In [29]:
t1 = df.pole1 == 1
t2 = df.pole2 == 2
sp = ['pole2','pole3']
df[t1|t2].groupby('pole1')[sp].apply(lambda x:x**2)

   pole2  pole3
0    121    121
1    484    484
2   1089   1089

In [30]:
import json

In [31]:
some_dict = {'pole1':[1,2,3], 'pole2':[11,22,33]}

In [35]:
with open('somejsonfile.json', 'w') as f:
    json.dump(some_dict,f)

In [41]:
ls

Untitled.ipynb
another_super_script.py
jsonfile.csv
setup.py
somejsonfile.json
superpackg/
telecom_churn.csv
Задачи_для_кандидатов.ipynb

In [37]:
cat somejsonfile.json

{"pole1": [1, 2, 3], "pole2": [11, 22, 33]}

{'pole1': [1, 2, 3], 'pole2': [11, 22, 33]}

In [39]:
df = pd.read_json('somejsonfile.json')

In [40]:
df.to_csv('jsonfile.csv')

In [42]:
cat jsonfile.csv

,pole1,pole2
0,1,11
1,2,22
2,3,33

In [43]:
def myfunc():
    """ Выводит слово helloo
    
    """
    
    print('helloo')

In [ ]:
myfunc()